# Лабораторная работа 3. Pandas, метод ближайших соседей и решающие деревья.

Name: Aisultan Kali

Student ID: 16BD02150

Email: aisultan.kali@gmail.com

In [1]:
import numpy as np
import pandas as pd

## Часть 1: Pandas

#### Ответьте на вопросы о данных по авиарейсам в США.

Данные: http://stat-computing.org/dataexpo/2009/2008.csv.bz2
(обратите внимание, что распаковывать этот файл не обязательно — функция `pandas.read_csv` умеет читать из архивов автоматически)

Описание: http://stat-computing.org/dataexpo/2009/the-data.html

1. Какая из причин отмены рейса (`CancellationCode`) была самой частой? (расшифровки кодов можно найти в описании данных)
2. Найдите среднее, минимальное и максимальное расстояние, пройденное самолетом.
3. Не выглядит ли подозрительным минимальное пройденное расстояние? В какие дни и на каких рейсах оно было? Какое расстояние было пройдено этими же рейсами в другие дни?
4. Из какого аэропорта было произведено больше всего вылетов? В каком городе он находится?
5. Найдите для каждого аэропорта среднее время полета (`AirTime`) по всем вылетевшим из него рейсам. Какой аэропорт имеет наибольшее значение этого показателя?
6. Найдите аэропорт, у которого наибольшая доля задержанных (`DepDelay > 0`) рейсов. Исключите при этом из рассмотрения аэропорты, из которых было отправлено меньше 1000 рейсов (используйте функцию `filter` после `groupby`).

In [2]:
data = pd.read_csv("2008.csv.bz2")
data.describe(include='all')

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7009728.0,7.009728e+06,7.009728e+06,7.009728e+06,6.873482e+06,7.009728e+06,6.858079e+06,7.009728e+06,7009728,7.009728e+06,...,6.858079e+06,6.872670e+06,7.009728e+06,137434,7.009728e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06,1.524735e+06
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN,NaN,...,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1201754,NaN,...,NaN,NaN,NaN,54904,NaN,NaN,NaN,NaN,NaN,NaN
mean,2008.0,6.375130e+00,1.572801e+01,3.924182e+00,1.333830e+03,1.326086e+03,1.481258e+03,1.494801e+03,NaN,2.224200e+03,...,6.860852e+00,1.645305e+01,1.960618e-02,NaN,2.463006e-03,1.577206e+01,3.039031e+00,1.716462e+01,7.497434e-02,2.077098e+01
std,0.0,3.406737e+00,8.797068e+00,1.988259e+00,4.780689e+02,4.642509e+02,5.052251e+02,4.826728e+02,NaN,1.961716e+03,...,4.933649e+00,1.133280e+01,1.386426e-01,NaN,4.956753e-02,4.009912e+01,1.950287e+01,3.189495e+01,1.837940e+00,3.925964e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,NaN,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,9.280000e+02,9.250000e+02,1.107000e+03,1.115000e+03,NaN,6.220000e+02,...,4.000000e+00,1.000000e+01,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.325000e+03,1.320000e+03,1.512000e+03,1.517000e+03,NaN,1.571000e+03,...,6.000000e+00,1.400000e+01,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.728000e+03,1.715000e+03,1.909000e+03,1.907000e+03,NaN,3.518000e+03,...,8.000000e+00,1.900000e+01,0.000000e+00,NaN,0.000000e+00,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,NaN,9.743000e+03,...,3.080000e+02,4.290000e+02,1.000000e+00,NaN,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [ ]:
#1
print 'The most frequent(mode) = ', data.CancellationCode.mode()[0]

#2
print data.Distance.min(), data.Distance.max()

#3
flightNums = [i for i in data[data.Distance == data.Distance.min()].FlightNum]
print 'Flight numbers with shortest distance', flightNums
print 'Days with shortest distance', [i for i in data[data.Distance == data.Distance.min()].DayofMonth]
print 'Another flight distances'
for j in range(len(flightNums)):
    print j, [i for i in data[data.FlightNum == flightNums[j]].Distance], '\n'

In [ ]:
airportsDf = pd.read_csv('airports.csv')

mostFrequentAirportCode = data.Origin.mode()[0]

#4
print (airportsDf[airportsDf.iata == mostFrequentAirportCode].city)

#5
print(data.groupby('Origin')["AirTime"].mean())
print(data.groupby('Origin')["AirTime"].mean().idxmax())

In [ ]:
y = data.groupby('Origin')['DepDelay']
x = data[data.DepDelay > 0].groupby('Origin')['DepDelay'](x.count() / y.count() * (y.count() >= 1000)).idxmax()
print(x)

## Часть 2: метрические методы и категориальные признаки

Все дальнейшие эксперименты предлагается проводить на данных соревнования Amazon Employee Access Challenge: https://www.kaggle.com/c/amazon-employee-access-challenge

В данной задаче предлагается предсказать, будет ли одобрен запрос сотрудника на получение доступа к тому или иному ресурсу. Все признаки являются категориальными.

Для удобства данные можно загрузить по ссылке: https://www.dropbox.com/s/q6fbs1vvhd5kvek/amazon.csv

Сразу прочитаем данные и создадим разбиение на обучение и контроль:

In [5]:
data = pd.read_csv('amazon.csv')
data.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [6]:
data.shape

(32769, 10)

In [7]:
# доля положительных примеров
data.ACTION.mean()

0.9421099209618847

In [8]:
# число значений у признаков
for col_name in data.columns:
    print col_name, len(data[col_name].unique())

ACTION 2
RESOURCE 7518
MGR_ID 4243
ROLE_ROLLUP_1 128
ROLE_ROLLUP_2 177
ROLE_DEPTNAME 449
ROLE_TITLE 343
ROLE_FAMILY_DESC 2358
ROLE_FAMILY 67
ROLE_CODE 343

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:, 1:], data.iloc[:, 0],
                                                    test_size=0.3, random_state=241)

       RESOURCE  MGR_ID  ROLE_ROLLUP_1  ROLE_ROLLUP_2  ROLE_DEPTNAME  \
1728      40867    8150         117961         118386         119954
22856     38587   14551           5110         117954         117895
27691      3853   51301         118290         118291         121108
8421      45337   49423         117961         118052         123144
5013      40919   87700         118315         118463         118464
9044       6215    6217         117961         118327         118328
25556     20364   15887         117961         118052         120356
25066     75723    4712         117961         118343         118395
29205     78766   65460         118079         118080         117878
3926       6977    5987         117961         118446          16232
31362     34714    2017         117961         118327         121645
22770     37942   20138           5110         117954         117895
2970      45580   25547         117961         118327         118378
1670       1003     795         117961         118225         120551
6517      81319    1350         117961         118052         122938
14986     78372    6454         117961         118343         118856
17585     34451   79100          91261         118026         119362
7439      74016   15516         117961         118052         120304
14509     70481   15790         117961         118225         120663
17941     74196   14638         117961         118052         118992
6647      14665    4500         117961         118052         118881
17813     79956   15779         117961         118300          19772
4985      39333   28253         118315         118316         123089
27863     28340   31067         117893         117894         117895
7249      43635    2594         117961         118300         120410
29161    115327    2610         117961         118327         121979
28416       843    5409         117961         118343         119993
19343     43930   19736         122532         122533         119136
10199     18355    6199         117961         118225         120663
32280       971    6257         117961         118343         118437
...         ...     ...            ...            ...            ...
6103      34302   16133           5110         117954         122672
9798      43425   13812         117961         118225         118320
18672     20284   58557         117980         117981         117920
3498      45790    7822         117961         118327         118492
32648      1020   82459         117961         118386         118522
8960      43546   93627          91261         118026         119507
16035     15739   58689         117916         118011         117884
24902     43737    2594         117961         118300         120410
2543        917    1398         117961         118300         118437
15899     17308    3371         117902         118041         118042
15316     81297   74967         117961         117962         118791
4407      33054    5001         117961         118300         123007
19262     25993  133436         118212         118213         119136
3379      19722    7560         117961         118343         119181
25015     29304   50396         117975         117976         117884
4639      20279   58707         117916         118011         117884
21785      3853    3077         117961         118300         120312
19308      6977    7164         117902         117903         118783
20036     39395   21837         117961         118327         118507
4987      34950    1215         117961         118327         120171
31369     25993   15886         117961         118052         120356
26772     19310   68658           5110         117954         117895
8664      28149    7971         117961         118386         120361
8690      17249    4950         117961         118343         119598
144       30628    7987         117961         118327         120383
10987     28564   52423         119665         119666         117895
20727     38719   51382         118079         118080         117878
26202     32270   61062         117961         118446         120368
29982     79299   55667         117902         118041         117945
12716       691    2983         117961         118343         118700

       ROLE_TITLE  ROLE_FAMILY_DESC  ROLE_FAMILY  ROLE_CODE
1728       118054            118054       117887     118055
22856      117899            117897        19721     117900
27691      126869            118302       118295     126870
8421       118396            269406       118398     118399
5013       118465            162182       118467     118468
9044       119172            184011       118467     119174
25556      123737            305057       118960     123738
25066      123067            269406       118398     123068
29205      117885            118177       117887     117888
3926       118321            117906       290919     118322
31362      118321            117906       290919     118322
22770      117899            117897        19721     117900
2970       120618            304465       118643     120619
1670       118321            117906       290919     118322
6517       117905            117906       290919     117908
14986      117905            172635       290919     117908
17585      119065            158390       118667     119067
7439       118702            132675       118704     118705
14509      117905            117906       290919     117908
17941      118321            290919       290919     118322
6647       118321            117906       290919     118322
17813      118321            117906       290919     118322
4985       118278            292726       290919     118279
27863      117896            117897       117887     117898
7249       128230            302830         4673     128231
29161      117905            240983       290919     117908
28416      118321            240983       290919     118322
19343      119137            141119       118474     119139
10199      118321            117906       290919     118322
32280      117905            117906       290919     117908
...           ...               ...          ...        ...
6103       127389            127390        19721     127391
9798       120690            120691       290919     120692
18672      117879            117886        19721     117880
3498       132692            226262       270488     132694
32648      118321            123513       290919     118322
8960       117905            117906       290919     117908
16035      117885            117913       117887     117888
24902      128230            302830         4673     128231
2543       118321            117906       290919     118322
15899      118043            118044       270488     118046
15316      118368            129597       117887     118486
4407       118826            257115       118424     118828
19262      120056            137119       118474     120058
3379       118321            117906       290919     118322
25015      117885            117913       117887     117888
4639       117885            117913       117887     117888
21785      124194            155644       118363     124196
19308      117905            118036       290919     117908
20036      118890            311441       118398     118892
4987       118054            126488       117887     118055
31369      120357            310997       118424     120359
26772      117879            118250        19721     117880
8664       118259            120721       290919     118261
8690       120006            310997       118424     120008
144        118321            149826       290919     118322
10987      118568            267952        19721     118570
20727      117885            117913       117887     117888
26202      119849            303111       118638     119851
29982      280788            130913       292795     119082
12716      118321            117906       290919     118322

[22938 rows x 9 columns]

#### 1. Реализуйте три функции расстояния на категориальных признаках, которые обсуждались на втором семинаре.

Проще всего будет определить метрики как [user-defined distance](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html), после чего воспользоваться реализацией kNN из sklearn (в этом случае используйте функцию predict_proba). Можно реализовать метод k ближайших соседей и самостоятально — в этом случае учитите, что он должен возвращать оценку вероятности, то есть отношение объектов первого класса среди соседей к числу соседей).

Постарайтесь уделить особое внимание эффективности кода — при реализации метрик "в лоб" вы можете столкнуться с очень большим временем выполнения.

#### Подсчитайте для каждой из метрик качество на тестовой выборке `X_test` при числе соседей $k = 10$. Мера качества — AUC-ROC.

#### Какая функция расстояния оказалась лучшей?

#### 2 (бонус). Подберите лучшее (на тестовой выборке) число соседей $k$ для каждой из функций расстояния. Какое наилучшее качество удалось получить?

Для подбора можно использовать любые средства из sklearn.

In [10]:
from sklearn.neighbors import KNeighborsClassifier

In [55]:
from sklearn.model_selection import GridSearchCV
parameters = {'metric':('euclidean', 'manhattan', 'chebyshev'), 'n_neighbors':range(1, 15)}
# parameters = {'metric':('euclidean', 'manhattan')}

In [56]:

model = KNeighborsClassifier()
clf = GridSearchCV(model, parameters, cv=3)

In [57]:
clf.fit(X_train, y_train)

# trained = model.fit(X_train, y_train)
print (1.0*clf.predict(X_test) == y_test).sum()/(1.0*len(clf.predict(X_test)))
print clf.best_estimator_.metric
print clf.best_estimator_

0.9384599735530464
manhattan
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
           metric_params=None, n_jobs=None, n_neighbors=13, p=2,
           weights='uniform')

#### 3. Реализуйте счетчики (http://blogs.technet.com/b/machinelearning/archive/2015/02/17/big-learning-made-easy-with-counts.aspx), которые заменят категориальные признаки на вещественные.

А именно, каждый категориальный признак нужно заменить на три: 
1. Число `counts` объектов в обучающей выборке с таким же значением признака.
2. Число `successes` объектов первого класса ($y = 1$) в обучающей выборке с таким же значением признака.
3. Сглаженное отношение двух предыдущих величин: (`successes` + 1) / (`counts` + 2).

Поскольку признаки, содержащие информацию о целевой переменной, могут привести к переобучению, может оказаться полезным сделать *фолдинг*: разбить обучающую выборку на $n$ частей, и для $i$-й части считать `counts` и `successes` по всем остальным частям. Для тестовой выборки используются счетчики, посчитанные по всей обучающей выборке. Реализуйте и такой вариант. Можно использовать $n = 3$.

#### Посчитайте на тесте AUC-ROC метода $k$ ближайших соседей с евклидовой метрикой для выборки, где категориальные признаки заменены на счетчики. Сравните по AUC-ROC два варианта формирования выборки — с фолдингом и без. Не забудьте подобрать наилучшее число соседей $k$.

#### 4. Добавьте в исходную выборку парные признаки — то есть для каждой пары $(f_i, f_j)$, $i < j$ исходных категориальных признаков добавьте новый категориальный признак $f_{ij}$, значение которого является конкатенацией значений $f_i$ и $f_j$ (желательно через какой-нибудь специальный символ во избежание коллизий). Посчитайте счетчики для этой выборки, найдите качество метода $k$ ближайших соседей с наилучшим $k$ (с фолдингом и без).

## Часть 3: Решающие деревья и леса

#### 1. Возьмите из предыдущей части выборку с парными признаками, преобразованную с помощью счетчиков без фолдинга. Настройте решающее дерево, подобрав оптимальные значения параметров `max_depth` и `min_samples_leaf`. Какой наилучший AUC-ROC на контроле удалось получить?

#### 2. Настройте случайный лес, подобрав такое число деревьев `n_estimators`, при котором ошибка выходит на асимптоту. Какое качество на тестовой выборке он дает?

#### 3. Возьмите выборку с парными признаками, для которой счетчики посчитаны с фолдингом. Обучите на ней случайный лес, подобрав число деревьев. Какое качество на тестовой выборке он дает? Чем вы можете объяснить изменение результата по сравнению с предыдущим пунктом?

Здесь вы можете поделиться своими мыслями о задании.

А здесь вставьте смешную картинку.

А здесь посоветуйте преподавателям хороший фильм или сериал.